html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

body.results-page {
    padding-top: 20px;
    text-align: center;
    font-family: monospace;
    font-style: oblique;
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: white;
}

body.home-page {
    background-image: url("/img/philosophy2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(27, 27, 27);
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
}

main {
    flex: 1;
}

#home-title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#forms {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
    width: 550px;
    margin: auto;
    border-style: ridge;
    background-color: rgba(0, 0, 0, 0.6);
}

form {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

form button {
    margin-left: auto;
    border-radius: 6px;
}


#minLikes,
#maxLikes {
    width: 100px;
}

#resultsHeader {
    color: rgb(176, 176, 176);
    border-style: dashed;
    margin: auto;
    margin-top: 5%;
    padding: 10px 10px 10px 10px;
}

#resultsList {
    padding-top: 40px;
}

div.modal-content {
    background-color: rgb(36, 35, 35);
}
#exampleModalLabel {
    padding-left: 90px;
    color: rgba(255, 255, 255, 0.415);
    margin: auto;
}

#authorName,
#authorInfo {
    color: whitesmoke;
}

#authorInfo {
    text-align: justify;
    padding-left: 50px;
}

#authorBio {
    text-align: justify;
    color: rgba(110, 216, 149, 0.554);
}

footer {
    margin-top: auto;
    margin-bottom: 5%;
    font-size: small;
    text-align: center;
}

button {
    font-variant: small-caps;
    font-size: large;
    color: rgb(66, 28, 66);
}
.link {
    color: #9a7979;
    text-decoration: none;
}